@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	font-family: "Noto Sans", "Noto Sans TC";
}

h1 {
	font-family: inherit;
	text-transform: none;
	line-height: 6rem;
}

.subheading {
	font-family: inherit;
	text-transform: none;
	margin-top: 1rem;
}
.bg-primary{background-color:#003C9D!important}
.text-primary{color:#003377!important}
a{color:#003377}a:active,a:focus,a:hover{color:#2200AA}
